.Add{
    width: 30%;
    margin-left: 10px;
    height: 25px;
}
.inpt{
    width: 50px;
    margin-left: 10px;
    height: 25px;
}
.btn{
  height: 30px;
    margin-left: 10px;
}
.border-text{
    border:1px solid #000;
    margin-top: 10px;
    width: 50%;
    text-align: center;
    display: inline-block;
}
.items{
    display: flex;
    font-size: 40px;
    margin-left: 150px;
}
.text{
   margin-left: 10px;
    padding: 10px 10px;
}